.skills-head{
    font-size: 67px;
    font-weight: 700;
    width: 80%;
    margin: 30px 0;
}
.container.skills{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.text.experience{
    width: 100%;
}
.keyword.experience{
    position: absolute;
    top: -5px;
    left: 50px;
}
.landingtext.experience{
    font-size: 17px;
    line-height: 1.3rem;
}

.skills-smallhead{
    font-size: 30px;
    margin: 30px auto 50px;
}
.skills-left{
    max-width: 50%;
    padding: 50px;
}
.skills-list-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
.skill-items{
    width: 32%;
    margin: 15px auto;
    text-align: center;
}
.skill-items img{
    display: block;
    margin: 5px  auto;
}
.skill-items span{
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
.skills-right{
    width: 45%;
    padding: 40px 0;
}

.experience-tab{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #696b6c;
    width: 100%;
    margin: auto;
}
.time-period{
    width: 30%;
    margin:  auto ;
    text-align: center;
    font-weight: bold;
}
.exp-head{
    display: block;
    width: 100%;
    margin: 40px 20px;
}
.exp-head h6{
    font-size: 28px;
}
.exp-head p{
    font-size: 15px;
    font-weight: 600;
    color: #716e6e;
    margin: 5px auto;
}