.latest-projects{
    background-color: #FCDA69;
    height: 100vh;
}
.container.projects{
    display: flex;
    justify-content: space-between;
    padding: 80px 30px;
    position: relative;
}
.project-bar{
    width: 27%;
    padding: auto 20px;
    
}
.project-bar.one h2{
    font-size: 67px;
    font-weight: bold;
    margin: 10px auto;
}
.project-bar.two{
    margin-top: 5%;

}
.details-top{
    display: flex;
    justify-content: space-between;
}
.details-top-content{
    width: 70%;
}


.arrow-icon.project{
    width: auto;
    margin: 20px 0;
}
.details-top-content h5{
    font-size: 30px;
    margin: 10px auto;
}
.details-top-content p{
    font-size: 15px;
    font-weight: 600;
    margin: 10px auto;
}
.project-details{
    border-top: 1px solid #555;
}
.project-detail-img{
    display: block;
    width: 100%;
    height: 50%;
}
.project-seal{
    width: 20%;
    height: 20%;
    position: absolute;
    right: 10px;
    bottom: 35px;
}


/* .....................................................980px responsive..........  */
@media all and (max-width: 980px) {
    .latest-projects{
        background-color: #FCDA69;
        height: auto;
    }
    .container.projects{
        display: flex;
        justify-content: space-between;
        padding: 80px 30px;
        position: relative;
    }
    .project-bar{
        width: 27%;
        padding: auto 20px;
        
    }
    .project-bar.one h2{
        font-size: 67px;
        font-weight: bold;
        margin: 10px auto;
    }
    .project-bar.two{
        margin-top: 5%;
    
    }
    .details-top{
        display: flex;
        justify-content: space-between;
    }
    .details-top-content{
        width: 70%;
    }
    
    
    .arrow-icon.project{
        width: auto;
        margin: 20px 0;
    }
    .details-top-content h5{
        font-size: 25px;
        margin: 10px auto;
    }
    .details-top-content p{
        font-size: 15px;
        font-weight: 600;
        margin: 10px auto;
    }
    .project-details{
        border-top: 1px solid #555;
    }
    .project-detail-img{
        display: block;
        width: 100%;
        height: 50%;
    }
    .project-seal{
        width: 15%;
        height: 15%;
        position: absolute;
        right: 10px;
        bottom: 35px;
    }
}


/* .....................................................640px responsive..........  */
@media all and (max-width: 640px) {
    .latest-projects{
        background-color: #FCDA69;
        height: auto;
    }
    .container.projects{
        display: flex;
        flex-wrap: wrap;
        padding: 80px 30px;
        position: relative;
    }
    .project-bar{
        width: 80%;
        margin: 0 auto;
        padding: auto 20px;
        
    }
    .project-bar.one h2{
        font-size: 55px;
        font-weight: bold;
        width: 100%;
        margin:10px auto;
    }
    .project-bar.two{
        margin-top: 5%;
    
    }
    .details-top{
        display: flex;
        justify-content: space-between;
    }
    .details-top-content{
        width: 70%;
    }
    
    
    .arrow-icon.project{
        width: auto;
        margin: 20px 0;
    }
    .details-top-content h5{
        font-size: 25px;
        margin: 10px auto;
    }
    .details-top-content p{
        font-size: 15px;
        font-weight: 600;
        margin: 10px auto;
    }
    .project-details{
        border-top: 1px solid #555;
    }
    .project-detail-img{
        display: block;
        width: 100%;
        height: 50%;
    }
    .project-seal{
        width: 15%;
        height: 15%;
        position: absolute;
        right: -8px;
        bottom: 35px;
    }
}